.venv
dist
node_modules
.git
.gitignore
.cursor
docs
data
mock
*.md
!README.md
.env
.env.*
!.env.production
docker-compose*.yml
.editorconfig
.eslintrc*
.prettierrc*
stylelint.config.*
workbox-config.js
