{
    "printWidth": 200,
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
