// sign-in.vue && sign-up.vue

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding-right: 1px;
    padding-left: 1px;
    font-size: 0;
    font-size: 0.1px;
    text-align: center;
    pointer-events: none;
    background: black;
    background: rgba(0, 0, 0, 0.72);
    opacity: 0;
    visibility: hidden;

    &.active {
        overflow: auto;
        pointer-events: auto;
        opacity: 1;
        visibility: visible;

        .modal {
            opacity: 1;
            visibility: visible;
        }
    }

    .center-helper {
        display: inline-block;
        height: 100%;
        margin-left: -1px;
        vertical-align: middle;
    }

    .modal {
        position: relative;
        display: inline-block;
        width: 360px;
        padding: 25px;
        margin: auto;
        font-size: 16px;
        text-align: left;
        vertical-align: middle;
        background: white;
        border-radius: 12px;
        opacity: 0;
        visibility: hidden;
        box-sizing: border-box;

        .modal-prev {
            position: absolute;
            top: 0;
            left: 0;
            width: 78px;
            height: 78px;
            opacity: 0.25;

            &:hover {
                opacity: 1;
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -10px;
                margin-left: -10px;
            }
        }

        .modal-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 78px;
            height: 78px;
            opacity: 0.25;

            &:hover {
                opacity: 1;
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -8px;
                margin-left: -8px;
            }
        }

        .modal-title {
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 0.2em;
            text-align: center;
            text-indent: 0.2em;
        }

        .sign-up-form {
            display: block;
            width: 280px;
            margin: 20px auto 10px;
            text-align: center;

            .input-wrap {
                position: relative;

                & + .input-wrap {
                    margin-top: 18px;
                }
            }

            .input-info {
                margin-top: 10px;
                margin-left: 14px;
                font-size: 12px;
                color: #bac1c2;
                text-align: left;

                &.centered {
                    margin-left: 0;
                    text-align: center;
                }
            }

            .error-info {
                color: #ed4656;
            }

            .base-input {
                width: 100%;
            }

            .textarea-input {
                height: 88px;
                padding: 10px 14px;
                resize: none;
            }

            .sign-up-btn {
                width: 100%;
                padding: 0;
                margin-top: 20px;
            }
        }
    }
}

// components/reload-prompt.vue
.pwa-toast {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 12px;
    margin: 16px;
    text-align: left;
    background: #fff;
    border: 1px solid #8885;
    border-radius: 4px;
    box-shadow: 3px 4px 5px 0 #8885;

    .message {
        margin-bottom: 8px;
    }

    button {
        padding: 3px 10px;
        margin-right: 5px;
        border: 1px solid #8885;
        border-radius: 2px;
        outline: none;
    }
}
