.global-warning {
    display: none;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: white;
    text-align: center;
    background: #293c3d;

    &.active {
        display: block;
    }

    &:hover {
        color: rgba(255, 255, 255, 0.6);
    }
}

// navigation.vue
.global-nav {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 60px;
    background: #54d9e0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    .backend & {
        position: static;
        top: auto;
        z-index: auto;
    }

    .wrap {
        display: flex;
        justify-content: space-between;
    }

    .left-part {
        display: flex;
    }

    .right-part {
        display: flex;

        @media (width <= 750px) {
            display: none;
        }
    }

    .logo-link {
        display: block;

        .icon {
            margin-top: 15px;
        }
    }

    .main-nav {
        display: flex;
        margin-left: 48px;

        @media (width <= 1000px) {
            margin-left: 25px;
        }

        .icon {
            margin-right: 12px;
            vertical-align: -4px;

            @media (width <= 1000px) {
                margin-right: 0;
            }
        }
    }

    .nav-link {
        position: relative;
        padding: 0 24px;
        font-size: 18px;
        line-height: 60px;
        color: white;

        &.current::after {
            position: absolute;
            right: 24px;
            bottom: 0;
            left: 24px;
            height: 3px;
            background: #eded63;
            border-radius: 3px;
            content: '';
        }

        @media (width <= 1000px) {
            font-size: 17px;

            .text {
                display: none;
            }

            &.current::after {
                right: 10px;
                left: 10px;
            }
        }

        @media (width <= 375px) {
            padding: 0 15px;
        }
    }

    .btn {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .nav-sign-up {
        margin-left: 16px;
    }

    .nav-me {
        margin-left: 10px;

        .nav-avatar-img {
            width: 40px;
            height: 40px;
            margin-top: 10px;
            border-radius: 20px;
        }
    }

    .nav-search {
        position: relative;
        margin-left: 16px;
        font-size: 0;

        .icon-search-white {
            position: absolute;
            top: 24px;
            left: 14px;
        }

        .nav-search-input {
            width: 180px;
            height: 40px;
            padding: 0 14px 0 40px;
            margin-top: 10px;
            font-size: 16px;
            line-height: 18px;
            color: white;
            background: rgba(255, 255, 255, 0.25);
            border: none;
            border-radius: 4px;
            transition: width 0.2s ease;

            &:focus {
                width: 230px;
            }
        }

        .nav-search-input::placeholder {
            color: white;
        }
    }
}
