.settings-section {
    padding: 24px 0;

    & + .settings-section {
        border-top: 1px solid #f4f4f4;
    }

    .settings-section-title {
        font-size: 15px;
    }

    .settings-item {
        display: flex;

        &.with-input {
            .settings-title {
                width: 80px;
                line-height: 40px;
            }
        }

        .settings-title {
            font-size: 15px;
            font-weight: 400;
        }

        .settings-item-content {
            flex: 1 1 auto;
            margin-left: 20px;
        }
    }
}

.settings-main {
    .select-item-wrap {
        position: relative;
    }

    .settings-main-content {
        padding: 0 24px;

        .list-section {
            display: flex;
            justify-content: space-between;
            padding: 12px 0;
            font-size: 13px;

            &.list-header {
                font-size: 15px;
            }

            & + .list-section {
                border-top: 1px solid #f4f4f4;
            }

            .list-title {
                flex: 1 1 auto;
                width: 0;
            }

            .list-category {
                flex: none;
                width: 140px;
            }

            .list-date {
                flex: none;
                width: 140px;
            }

            .list-action {
                flex: none;
                width: 140px;

                & > a {
                    display: inline-block;

                    & + a {
                        margin-left: 5px;
                    }
                }
            }

            .list-username {
                width: 120px;
            }

            .list-email {
                width: 310px;
            }
        }
    }

    .select-item {
        box-sizing: border-box;
        width: 100%;
        padding: 0 14px;
        line-height: 44px;
        appearance: none;
        cursor: pointer;
        background: none;
        border: 1px solid #e2e9e9;
        border-radius: 4px;
    }

    .icon-arrow-down {
        position: absolute;
        top: 20px;
        right: 14px;
    }

    .settings-input-wrap {
        position: relative;
        display: block;

        &.inline-block {
            display: inline-block;
        }

        & + .settings-input-wrap {
            margin-top: 20px;
        }

        & + .settings-input-wrap.inline-block {
            margin-top: 0;
            margin-left: 15px;
        }

        .input-info {
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 2;
            padding: 0 15px;
            margin-left: 15px;
            line-height: 40px;
            color: #fff;
            white-space: nowrap;
            visibility: hidden;
            background: #444;
            border-radius: 4px;
            opacity: 0;

            /* -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; */
            transform: translateX(-8px);

            &::before {
                position: absolute;
                top: 50%;
                left: -7px;
                width: 0;
                height: 0;
                margin-top: -7px;
                content: '';
                border-top: 7px solid transparent;
                border-right: 7px solid #ec3a4b;
                border-bottom: 7px solid transparent;
            }

            &.error {
                background: #ec3a4b;

                &::before {
                    border-right-color: #ec3a4b;
                }
            }

            &.info {
                color: #444;
                background: #eded63;

                &::before {
                    border-right-color: #eded63;
                }
            }

            &.active {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
            }
        }

        .base-input {
            width: 100%;
        }
    }

    .settings-footer {
        padding: 24px;
        text-align: right;
        border-top: 1px solid #f4f4f4;

        .admin-load-more {
            display: block;
            text-align: center;
        }
    }
}

/* fix */
.editormd {
    z-index: 1000;

    .CodeMirror {
        border-radius: 5px;
    }

    &.editormd-fullscreen,
    &.editormd-fullscreen .CodeMirror {
        border-radius: 0;
    }
}
