@font-face {
    font-family: consola;
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/consola.ttf') format('truetype');
    font-display: fallback;
    unicode-range:
        U+0000-00FF,
        U+0131,
        U+0152-0153,
        U+02C6,
        U+02DA,
        U+02DC,
        U+2000-206F,
        U+2074,
        U+20AC,
        U+2212,
        U+2215;
}

.github-markdown-body code[class*='v-md-prism-'],
.github-markdown-body pre[class*='v-md-prism-'],
.vuepress-markdown-body code[class*='v-md-prism-'],
.vuepress-markdown-body pre[class*='v-md-prism-'] {
    font-size: 15px;
}

.markdown-body,
.markdown-body pre,
.markdown-body code {
    font-family:
        consola,
        -apple-system-font,
        'Helvetica Neue',
        Tahoma,
        'PingFang SC',
        'lantinghei sc',
        'Microsoft Yahei',
        sans-serif;
}

.vuepress-markdown-body:not(.custom) {
    padding: 0;
}

.vuepress-markdown-body div[class*='v-md-pre-wrapper-'].line-numbers-mode .line-numbers-wrapper {
    font-size: 15px;
}
